.tasks-list {
    padding: 0 10px;
}

.table-header div {
    color: #333;
    font-size: 17px;
    margin-bottom: 5px;
}

.table-column {
    padding: 2px 0;
}

.table-column.odd {
    background: #d1d1d1;
}

.pagebtn{
    margin-top: 20px;
}
